
/*Menu arriba*/
.menuTop ul {
	vertical-align: middle;
	padding-top: 1rem;
	
}
.menuTop ul li {
	list-style-type: none;
	display: inline-block;
}
.menuTop ul li img {
	width: 10%;
	vertical-align: -webkit-baseline-middle;
}
#cerrarSesion {
	position: absolute;
    right: 6px;
    margin-right: 15px;
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
}

.sidenav a:active{
    color: #818181;
    text-decoration: none;
}

.sidenav a:visited{
    color: #818181;
    text-decoration: none;
}

.sidenav a:focus{
    color: #818181;
    text-decoration: none;
}

.sidenav a:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.main {
    margin-left: 210px;
    margin-top: 75px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}